// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$padding-mob:5%;
@mixin bigmobile {
    @media (min-width: #{$mobile-width+145px}) and (max-width: #{$tablet-width - 1px}) {
      @content;
    }
  }

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


@mixin padding-mobile {
   padding-right: $padding-mob;
   padding-left: $padding-mob;
  }
